@import "variables.module.scss";
@import "functions/mixins.scss";

.autocompleteOption {
  list-style-type: none;
  font-size: 2em;
  padding: 3px;
  margin: 0;
  border: 1px black solid;
  color: grey;
  background-color: rgb(250, 250, 229);
}

.autocompleteOption :hover {
  background-color: $beer-yellow;
}

.dropdown {
  position: absolute;
  @include layout-for($mobileBreakpoint) {
    top: 20px;
  }
}

.dropdown div {
  flex-grow: 1;
  width: 0;
}

.wrapper {
  display: inline-block;
  position: absolute;

  input:focus {
    position: absolute;
    -webkit-transition: transform 1s ease-in-out;
    transform: scale(3) translate(30%, -50%);
    @include layout-for($mobileBreakpoint) {
      -webkit-transition: transform 1s ease-in-out;
      transform: scale(2) translate(23%, -50%);
    }
  }
}

.autocompleteList {
  padding: 0;
  position: absolute;
  top: 6px;
}
