@import "variables.module.scss";
@import "functions/mixins.scss";

.card {
    max-width: 75px;
    max-height: 75px;
    text-overflow: ellipsis;
    background-color: $beer-yellow;
    border: 1px solid $beer-brown;
    border-radius: $border-radius-default;
    padding: 10px;
    display: flex;
}

.cardBody {
    display: flex;
}