@import "variables.module.scss";
@import "functions/mixins.scss";

.navBar {
  position: sticky;
  background: $beer-yellow;
  top: 0;
  left: 0;
  z-index: 1;
  color: $black;
  padding: 0 30px;

  display: flex;

  font-family: $default-font;

  h1 {
    flex-grow: 1;
    white-space: nowrap;
    margin-right: 15px;
  }
}

.headerOptions {
  flex-grow: 2;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include layout-for($desktop-breakpoint) {
    flex-direction: row;
  }
  @include layout-for($tablet-breakpoint) {
    flex-direction: row;
  }
  @include layout-for($mobile-breakpoint) {
    flex-direction: column;
  }
}

.headerLink {
  font-weight: bold;
}
