@import "variables.module.scss";
@import "./functions/mixins.scss";

.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginModal {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;

  div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
  }
}

.loginImageAligner {
  display: block;

}

.loginImage {
  min-width: 200px;
  min-height: 200px;
  width: 200px;
  height: 200px;
  span {
    border-radius: 100%;
  }
}

.textBoxes {

  input[type="text"],
  input[type="password"] {
    min-width: 300px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.buttonContainer {
  button {
    @include default-button-styles();
  }
}

.logout {
  color: $beer-red-link;
  text-decoration: underline;
  margin-top: 50px;

  &:hover {
    color: $beer-brown;
    text-decoration: none;
    cursor: pointer;
  }
}