@import "../utility/utility.scss";

.btn {
  @include default-button-styles();
  width: unset; // Using flex grow for width
  font-size: $font-size-small;
  padding: 8px 16px;
  &:hover {
    @include box-shadow-hoverstate($beer-brown);
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;

  @include layout-for(tablet) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  input {
    margin: auto;
    &:focus {
      // position: absolute;
      // -webkit-transition: transform 0.2s ease-in-out;
      // transform: scale(3) translate(30%, -50%);

      @include layout-for(mobile) {
        -webkit-transition: transform 0.2s ease-in-out;
        transform: scale(2) translate(23%, -50%);
      }
    }
  }
}
