@import "../utility/utility.scss";

.dropdown {
    position: absolute;
    left: 0;
    width: 100%;
}

.autocompleteList {
    max-height: 300px;
    min-width: 200px;
    padding: 0;
    position: absolute;
    top: 30px;
    overflow: auto;

    @include layout-for(mobile) {
        min-width: 100%
    }

    &::-webkit-scrollbar {
        width: 10px;
        /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
        background-color: $beer-brown;
        /* color of the scroll thumb */
        border-radius: 20px;
        /* roundness of the scroll thumb */
        border: 1px solid $beer-yellow;
        /* creates padding around scroll thumb */
    }

    li {
        list-style-type: none;
        font-size: 2em;
        padding: 3px;
        margin: 0;
        border: 1px black solid;
        border-radius: $border-radius-default;
        color: $white;
        background-color: $beer-dark-red;
        margin: 10px;
        &:hover {
            background-color: $beer-yellow;
            cursor: pointer;
        }
    }
}