@import "../utility/utility.scss";


.BracketCreator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pageContentContainer {
  margin: 0px 10%;
  display: flex;
  flex-direction: column;

  @include layout-for(mobile) {
    margin: 0;
  }
}

.creationContainer {
  margin: 2% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include layout-for(mobile) {
    flex-direction: column;
    align-items: center;
  }
}
.addBrewsCont {
  display: flex;
  flex-direction: column;

  @include layout-for(mobile) {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.knownBreweries {
  margin: 0px 0 30px 0;
  width: 100%;

  display: flex;
  flex-direction: column;

  @include layout-for(mobile) {
    margin: 0px 0 65px 0;
  }
}

.labelButtonPair {
  display: flex;
  width: 100%;

  @include layout-for(mobile) {
    flex-direction: column-reverse;
  }
}

.btn {
  padding: 10px;
  max-width: 55px;
  
  @include layout-for(mobile) {
    margin-left: 0;
  }
}

.FIGHT {
  display: flex;
  justify-content: center;
}

.addCustomCont {
  margin: 0px 0 30px 0;

  display: flex;
  flex-direction: row;
}

.labelInputPair {
  display: flex;
  flex-direction: column;
}

.dividerDiv {
  width: 1px;
  margin: 0 20px;
  background-color: $grey;

  @include layout-for(tablet) {
    margin: 0 10px 0 0;
  }

  @include layout-for(mobile) {
    width: 100%;
    height: 1px;
  }
}

.currentBreweries {
  display: flex;
  flex-direction: column;
}

.currentBreweriesCards {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: auto auto auto auto;
}