$default-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$font-size-why-need-u-this: 48px;
$font-size-extra-large: 32px;
$font-size-large: 20px;
$font-size-normal: 16px;
$font-size-small: 13px;

$font-weight-bold: 700;